.*el\~$
/els/#asdasd-windmove.el#
#.*#
/els/#asdasd-python.el#
#.*#
els/#.*#
/auto-save-list/.saves-128413-kd-a5f4e0cc-3385-11b2-a85c-dff13eaabae1.ibm.com~
.*~
els/.*~
/.emacs.desktop
.desktop
/els/asdasd-files.el~
/els/.*~
~$
snippets/*